@font-face 
  font-family: 'weather-icon'
  src:  url('fonts/weather-icon.eot?9uxvdp')
  src:  url('fonts/weather-icon.eot?9uxvdp#iefix') format('embedded-opentype'),
    url('fonts/weather-icon.ttf?9uxvdp') format('truetype'),
    url('fonts/weather-icon.woff?9uxvdp') format('woff'),
    url('fonts/weather-icon.svg?9uxvdp#weather-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weather-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-trash:before 
  content: "\e907"

.icon-check:before 
  content: "\e902"

.icon-square:before 
  content: "\e903"

.icon-calendar:before 
  content: "\e904"

.icon-date:before 
  content: "\e904"

.icon-schedule:before 
  content: "\e904"

.icon-calendar2:before 
  content: "\e905"

.icon-date2:before 
  content: "\e905"

.icon-schedule2:before 
  content: "\e905"

.icon-calendar3:before 
  content: "\e906"

.icon-date3:before 
  content: "\e906"

.icon-schedule3:before 
  content: "\e906"

.icon-three-bars:before 
  content: "\e900"

.icon-list2:before 
  content: "\e9bb"

.icon-star-empty:before 
  content: "\e9d7"

.icon-star-full:before 
  content: "\e9d9"

.icon-add_circle:before 
  content: "\e901"


